#!/usr/bin/env python3

PACKAGE = "line_planner"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("P", double_t, 0, "Proportional gain for PID controller", 1.0, 0, 100)
gen.add("I", double_t, 0, "Integral gain for PID controller", 0.0, 0, 10)
gen.add("D", double_t, 0, "Derivative gain for PID controller", 0.0, 0, 100)
gen.add("max_velocity", double_t, 0, "Max value for twist linear.z", 1.0, 0, 100)

exit(gen.generate(PACKAGE, "line_planner", "AltitudeController"))